<section id="header">

	<nav {# Partie du code concernant le menu version mobile #} id="headMenuMobile" class="lstn fondcouleurprincipale">

		<a href="{{path('app_home')}}" id="homeLink">

			<div id="titreH1">

				<span class="paw">
					<svg
						xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
						<!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
						<path fill="#00215E" d="M226.5 92.9c14.3 42.9-.3 86.2-32.6 96.8s-70.1-15.6-84.4-58.5s.3-86.2 32.6-96.8s70.1 15.6 84.4 58.5zM100.4 198.6c18.9 32.4 14.3 70.1-10.2 84.1s-59.7-.9-78.5-33.3S-2.7 179.3 21.8 165.3s59.7 .9 78.5 33.3zM69.2 401.2C121.6 259.9 214.7 224 256 224s134.4 35.9 186.8 177.2c3.6 9.7 5.2 20.1 5.2 30.5l0 1.6c0 25.8-20.9 46.7-46.7 46.7c-11.5 0-22.9-1.4-34-4.2l-88-22c-15.3-3.8-31.3-3.8-46.6 0l-88 22c-11.1 2.8-22.5 4.2-34 4.2C84.9 480 64 459.1 64 433.3l0-1.6c0-10.4 1.6-20.8 5.2-30.5zM421.8 282.7c-24.5-14-29.1-51.7-10.2-84.1s54-47.3 78.5-33.3s29.1 51.7 10.2 84.1s-54 47.3-78.5 33.3zM310.1 189.7c-32.3-10.6-46.9-53.9-32.6-96.8s52.1-69.1 84.4-58.5s46.9 53.9 32.6 96.8s-52.1 69.1-84.4 58.5z"/>
					</svg>
				</span>

				<h1>
					CAPPA
				</h1>

				<span class="paw">
					<svg
						xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
						<!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
						<path fill="#00215E" d="M226.5 92.9c14.3 42.9-.3 86.2-32.6 96.8s-70.1-15.6-84.4-58.5s.3-86.2 32.6-96.8s70.1 15.6 84.4 58.5zM100.4 198.6c18.9 32.4 14.3 70.1-10.2 84.1s-59.7-.9-78.5-33.3S-2.7 179.3 21.8 165.3s59.7 .9 78.5 33.3zM69.2 401.2C121.6 259.9 214.7 224 256 224s134.4 35.9 186.8 177.2c3.6 9.7 5.2 20.1 5.2 30.5l0 1.6c0 25.8-20.9 46.7-46.7 46.7c-11.5 0-22.9-1.4-34-4.2l-88-22c-15.3-3.8-31.3-3.8-46.6 0l-88 22c-11.1 2.8-22.5 4.2-34 4.2C84.9 480 64 459.1 64 433.3l0-1.6c0-10.4 1.6-20.8 5.2-30.5zM421.8 282.7c-24.5-14-29.1-51.7-10.2-84.1s54-47.3 78.5-33.3s29.1 51.7 10.2 84.1s-54 47.3-78.5 33.3zM310.1 189.7c-32.3-10.6-46.9-53.9-32.6-96.8s52.1-69.1 84.4-58.5s46.9 53.9 32.6 96.8s-52.1 69.1-84.4 58.5z"/>
					</svg>
				</span>


			</div>

		</a>

		<div id="menuDropBtn">

			<span>
				<svg
					xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
					<!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
					<path fill="#00215E" d="M40 48C26.7 48 16 58.7 16 72l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24L40 48zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L192 64zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zM16 232l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0z"/>
				</svg>
			</span>

		</div>

	</nav>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}

		<ul class='lstn'>

			<li class='displayAdmin tdn'>
				<span>
					{{app.user.username}}
				</span>

			</li>

			<li>
				<a href="{{path('app_logout')}}" class='tdn'>
					Déconnexion
				</a>
			</li>

		</ul>

	{% endif %}

	<ul id="dropMenuMobileContenu" class="hide lstn">

		{% if is_granted('IS_AUTHENTICATED_FULLY') %}

			<li>
				<a href="{{path('adminouchats')}}">
					Gestion
				</a>
			</li>

		{% endif %}

		<li>
			<a href="{{path('app_dons')}}" class='dropLink tdn bold'>
				Nous Aider
			</a>
		</li>

		<li>
			<a href="{{path('app_news')}}" class='dropLink tdn'>
				À la une
			</a>
		</li>

		<li>
			<a href="{{path('app_informations')}}" class='dropLink tdn'>
				À Savoir
			</a>
		</li>

		<li>

			<span id="dropSousMenuChatsBtn" class="hide lstn">
				<a href="{{path('app_chats')}}" class='dropLink tdn'>
					Nos Chats
				</a>
			</span>

		</li>

		<li>
			<a href="{{path('app_reseaux')}}" class='dropLink tdn'>
				Suivez-nous
			</a>
		</li>

		<li>
			<a href="{{path('app_contact')}}" class='dropLink tdn'>
				Nous Contacter
			</a>
		</li>

	</ul>

	<nav id="headMenuDesktop">

		<a href="{{path('app_home')}}" id="homeLink">

			<div id="titreH1">

				<span class="paw">
					<svg
						xmlns="http://www.w3.org/2000/svg" class='bigSvg' viewbox="0 0 512 512">
						<!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
						<path fill="#00215E" d="M226.5 92.9c14.3 42.9-.3 86.2-32.6 96.8s-70.1-15.6-84.4-58.5s.3-86.2 32.6-96.8s70.1 15.6 84.4 58.5zM100.4 198.6c18.9 32.4 14.3 70.1-10.2 84.1s-59.7-.9-78.5-33.3S-2.7 179.3 21.8 165.3s59.7 .9 78.5 33.3zM69.2 401.2C121.6 259.9 214.7 224 256 224s134.4 35.9 186.8 177.2c3.6 9.7 5.2 20.1 5.2 30.5l0 1.6c0 25.8-20.9 46.7-46.7 46.7c-11.5 0-22.9-1.4-34-4.2l-88-22c-15.3-3.8-31.3-3.8-46.6 0l-88 22c-11.1 2.8-22.5 4.2-34 4.2C84.9 480 64 459.1 64 433.3l0-1.6c0-10.4 1.6-20.8 5.2-30.5zM421.8 282.7c-24.5-14-29.1-51.7-10.2-84.1s54-47.3 78.5-33.3s29.1 51.7 10.2 84.1s-54 47.3-78.5 33.3zM310.1 189.7c-32.3-10.6-46.9-53.9-32.6-96.8s52.1-69.1 84.4-58.5s46.9 53.9 32.6 96.8s-52.1 69.1-84.4 58.5z"/>
					</svg>
				</span>

				<h1>
					CAPPA
				</h1>

				<span class="paw">
					<svg
						xmlns="http://www.w3.org/2000/svg" class='bigSvg' viewbox="0 0 512 512">
						<!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
						<path fill="#00215E" d="M226.5 92.9c14.3 42.9-.3 86.2-32.6 96.8s-70.1-15.6-84.4-58.5s.3-86.2 32.6-96.8s70.1 15.6 84.4 58.5zM100.4 198.6c18.9 32.4 14.3 70.1-10.2 84.1s-59.7-.9-78.5-33.3S-2.7 179.3 21.8 165.3s59.7 .9 78.5 33.3zM69.2 401.2C121.6 259.9 214.7 224 256 224s134.4 35.9 186.8 177.2c3.6 9.7 5.2 20.1 5.2 30.5l0 1.6c0 25.8-20.9 46.7-46.7 46.7c-11.5 0-22.9-1.4-34-4.2l-88-22c-15.3-3.8-31.3-3.8-46.6 0l-88 22c-11.1 2.8-22.5 4.2-34 4.2C84.9 480 64 459.1 64 433.3l0-1.6c0-10.4 1.6-20.8 5.2-30.5zM421.8 282.7c-24.5-14-29.1-51.7-10.2-84.1s54-47.3 78.5-33.3s29.1 51.7 10.2 84.1s-54 47.3-78.5 33.3zM310.1 189.7c-32.3-10.6-46.9-53.9-32.6-96.8s52.1-69.1 84.4-58.5s46.9 53.9 32.6 96.8s-52.1 69.1-84.4 58.5z"/>
					</svg>
				</span>

			</div>

		</a>

		<ul id='menuDesktopContenu' class='lstn'>

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}

				<li class='displayAdmin tdn'>
					<span>
						{{app.user.username}}
					</span>
				</li>

				<li>
					<a href="{{path('adminouchats')}}">
						Gestion
					</a>
				</li>

				<li>
					<a href="{{path('app_logout')}}" class='tdn'>
						Déconnexion
					</a>
				</li>

			{% endif %}

			<li>
				<a href="{{path('app_dons')}}" class='dropLink tdn bold'>
					Nous Aider
				</a>
			</li>

			<li>
				<a href="{{path('app_news')}}" class='dropLink tdn'>
					À la une
				</a>
			</li>

			<li>
				<a href="{{path('app_contact')}}" class='dropLink tdn'>
					À Savoir
				</a>
			</li>

			<li>
				<span id="dropSousMenuChatsBtn" class="lstn fondCouleurPrincipale">

					<svg
						xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
						<!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
						<path fill="#00215E" d="M226.5 92.9c14.3 42.9-.3 86.2-32.6 96.8s-70.1-15.6-84.4-58.5s.3-86.2 32.6-96.8s70.1 15.6 84.4 58.5zM100.4 198.6c18.9 32.4 14.3 70.1-10.2 84.1s-59.7-.9-78.5-33.3S-2.7 179.3 21.8 165.3s59.7 .9 78.5 33.3zM69.2 401.2C121.6 259.9 214.7 224 256 224s134.4 35.9 186.8 177.2c3.6 9.7 5.2 20.1 5.2 30.5l0 1.6c0 25.8-20.9 46.7-46.7 46.7c-11.5 0-22.9-1.4-34-4.2l-88-22c-15.3-3.8-31.3-3.8-46.6 0l-88 22c-11.1 2.8-22.5 4.2-34 4.2C84.9 480 64 459.1 64 433.3l0-1.6c0-10.4 1.6-20.8 5.2-30.5zM421.8 282.7c-24.5-14-29.1-51.7-10.2-84.1s54-47.3 78.5-33.3s29.1 51.7 10.2 84.1s-54 47.3-78.5 33.3zM310.1 189.7c-32.3-10.6-46.9-53.9-32.6-96.8s52.1-69.1 84.4-58.5s46.9 53.9 32.6 96.8s-52.1 69.1-84.4 58.5z"/>
					</svg>

					<a href="{{path('app_chats')}}" class='dropLink hOverMenu tdn'>
						Nos Chats
					</a>

				</span>
			</li>

			<li>
				<a href="{{path('app_reseaux')}}" class='dropLink hOverMenu tdn'>
					Suivez-nous
				</a>
			</li>

			<li>
				<a href="{{path('app_contact')}}" class='dropLink tdn'>
					Nous Contacter
				</a>
			</li>

		</ul>

	</nav>

</section>

<section id="hero">

	<div id="heroMobile">

		<img src="{{ asset('assets/images/photos/heroMobile.jpg')}}" alt="Image d'accueil version mobile">

	</div>

	<div id="heroDesktop">

		<img src="{{ asset('assets/images/photos/heroDesktop.jpg')}}" alt="Image d'accueil version ordinateur">

	</div>

</section>

<section id="sponso">

	<div id="partenaires">

		<div id="defenseDeLAnimal" class='tac spaceTop spaceBottom'>

			<p>
				Le CAPPA est une association membre de la Confédération Nationale Défense de l'animal
			</p>

			<a href="https://www.defensedelanimal.fr/">

				<img src="{{ asset('assets/images/logos/defenseDeLAnimal.png')}}" alt="Site de La Défense de l'Animal">

			</a>

		</div>

		<h2 class='spaceTop spaceBottom'>
			Nos partenaires
		</h2>

		<div id="partenairesCommerciaux">

			<div id="zooplus" class='logoCommercial'>

				<a
					href="">

					{# Demander autorisation à Zooplus pour le logo et adresse pour savoir que la connexion viens d'une redirection depuis le Cappa !!!!! #}

					<img src="{{ asset('assets/images/logos/zooplus.jpg')}}" alt="Logo Zooplus">

				</a>

			</div>

			<div id="teaming" class='logoCommercial'>

				<a href="https://www.teaming.net/cappa">

					<img src="{{ asset('assets/images/logos/teaming.jpg')}}" alt="Logo Teaming">

				</a>

			</div>

		</div>

	</div>

	<div id="liensDons">

		<span id="faitesUnDon">

			<h2 class='spaceTop spaceBottom'>
				Soutenez-nous : faites un don
			</h2>

		</span>

		<span id="paypal">

			<a href="https://www.paypal.com/donate?token=t1K7q-Ar9iO8fVAvsakjU-yTzrw0GgiX6lFA4j64gOQFsY7t9Kvq6efZUUFeSfcMQGgRkS_lEHcW-tKo">

				<img src="{{ asset('assets/images/logos/payPal.jpg')}}" alt="Logo Paypal">

			</a>

		</span>

	</div>

</section>

<section {# Pour séparer graphiquement le header du main #} id="separationGraphique"></section>
