<section id="header" class="fondCouleurBackground">

	<nav {# Partie du code concernant le menu version mobile #} id="headMenu" class"menu lstn fondCouleurPrincipale">

		<a href="{{path('app_home')}}">
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#00215E" d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
		</a>

		<div id="titreH1">

			<span class="paw">
				<img src="{{ asset('assets/images/svg/paw-solid.svg')}}" alt="Paw">
			</span>

			<h1>CAPPA</h1>

			<span class="paw">
				<img src="{{ asset('assets/images/svg/paw-solid.svg')}}" alt="Paw">
			</span>

		</div>

		<div id="menuDropBtn">

			<p>Menu</p>
			<span>
				<img src="{{ asset('assets/images/svg/angles-down-solid.svg')}}" alt="Flèche tombante">
			</span>

		</div>

	</nav>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}

		<ul class='lstn'>

			<li
				class='displayAdmin tdn'><span>{{app.user.username}}</span>

			</li>

			<li>
				<a href="{{path('app_logout')}}" class='fondCouleurPrincipale tdn'>Déconnexion</a>
			</li>

		</ul>

	{% endif %}

	<ul id="dropMenuContenu" class="hide lstn fondCouleurPrincipale">

		{% if is_granted('IS_AUTHENTICATED_FULLY') %}

			<li>
				<a href="{{path('adminouchats')}}">Gestion</a>
			</li>

		{% endif %}

		<li>
			<a href="{{path('app_dons')}}" class='dropLink fondCouleurPrincipale tdn bold'>Nous Aider</a>
		</li>

		<li>
			<a href="{{path('app_news')}}" class='dropLink fondCouleurPrincipale tdn'>À la une</a>
		</li>

		<li>
			<a href="{{path('app_informations')}}" class='dropLink fondCouleurPrincipale tdn'>À Savoir</a>
		</li>

		<li>

			<span id="dropSousMenuChatsBtn" class="hide lstn fondCouleurPrincipale">
				<a href="{{path('app_chats')}}" class='dropLink fondCouleurPrincipale tdn'>Nos Chats >></a>
			</span>

		</li>

		<li>
			<a href="{{path('app_reseaux')}}" class='dropLink fondCouleurPrincipale tdn'>Suivez-nous >></a>
		</li>

		<li>
			<a href="{{path('app_contact')}}" class='dropLink fondCouleurPrincipale tdn'>Nous Contacter</a>
		</li>

	</ul>

	<nav {# Partie du code concernant le menu version desktop #} id="menuDesktop" class"menu lstn">

		<a href="{{path('app_home')}}">
			<img src="{{ asset('assets/images/svg/house-solid.svg')}}" alt="Home">
		</a>

		<div id="titreH1">

			<span class="paw">
				<img src="{{ asset('assets/images/svg/paw-solid.svg')}}" alt="Paw">
			</span>

			<h1>CAPPA</h1>

			<span class="paw">
				<img src="{{ asset('assets/images/svg/paw-solid.svg')}}" alt="Paw">
			</span>

		</div>

	</nav>

	<ul class='lstn'>

		{% if is_granted('IS_AUTHENTICATED_FULLY') %}

			<li
				class='displayAdmin tdn'><span>{{app.user.username}}</span>
			</li>

			<li>
				<a href="{{path('adminouchats')}}">Gestion</a>
			</li>

			<li>
				<a href="{{path('app_logout')}}" class='fondCouleurPrincipale tdn'>Déconnexion</a>
			</li>

		{% endif %}

		<li>
			<a href="{{path('app_dons')}}" class='dropLink fondCouleurPrincipale tdn bold'>Nous Aider</a>
		</li>

		<li>
			<a href="{{path('app_news')}}" class='dropLink fondCouleurPrincipale tdn'>À la une</a>
		</li>

		<li>
			<a {#href="{{path('app_info_pratique')}}"#} class='dropLink fondCouleurPrincipale tdn'>À Savoir</a>
		</li>

		<li>
			<span id="dropSousMenuChatsBtn" class="hide lstn fondCouleurPrincipale">
				<a href="{{path('app_chats')}}" class='dropLink hOverMenu fondCouleurPrincipale tdn'>Nos Chats >></a>
			</span>
		</li>

		<li>
			<a href="{{path('app_reseaux')}}" class='dropLink hOverMenu fondCouleurPrincipale tdn'>Suivez-nous >></a>
		</li>

		<li>
			<a href="{{path('app_contact')}}" class='dropLink fondCouleurPrincipale tdn'>Nous Contacter</a>
		</li>

	</ul>

</section>

<section id="hero">

	<div id="heroMobile">

		<img
		src="{{ asset('assets/images/photos/heroMobile.jpg')}}" alt="Image d'accueil version mobile">
	<!-- Penser à ajouter l'image pour le hero mobile !!!-->

	</div>

	<div id="heroDesktop">

		<img
		src="{{ asset('assets/images/photos/heroDesktop.jpg')}}" alt="Image d'accueil version ordinateur">
	<!-- Penser à ajouter l'image pour le hero dektop !!!-->

	</div>

</section>

<section {# Pour séparer graphiquement le header du main #} id="separationGraphique" class="barre fondCouleurPrincipale"></section>
